@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic&display=swap');

@font-face {
  font-family: 'Cargan';
  src: local('Cargan-Light'), url(../fonts/Cargan-Light.woff2) format('woff2'), url(../fonts/Cargan-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@import "variables";
@import "bootstrap";
@import "layout/idai-navbar";
@import "layout/idai-footer";
@import "layout/idai-header";
@import "messages/idai-messages";
@import "forms/forms";
@import "helpers";


h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
}

.dropdown-menu {
  background-clip: padding-box !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
  font-size: 14px !important;
  left: 0;
  list-style: outside none none;
  margin: 0 !important;
  min-width: 160px !important;
  padding: 5px 0 !important;
  position: absolute !important;
  text-align: left !important;
  top: 100% !important;
  z-index: 1000 !important;
}

.scope-button-main {
  padding-right: 0;
  border-right:1px solid rgba(0,0,0,0)
}
.scope-button-main:hover {
  border-right:1px solid rgba(0,0,0,0)
}

.scope-button-leave {
  border-left: none;
  margin-left: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.scope-button-leave .glyphicon {
  font-size: small;
  color: silver
}

.scope-button-pseudo {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  cursor: default
}

.scope-button-pseudo:hover {
  background:white
}
